*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #ecf0f3;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    outline:none ;
}
h1{
    text-align: center;
    /* margin-top: 20px; */
    margin-left: 40px;
    color: #1A3940;
    text-shadow: inset -5px -5px 12px #ffffff,
    inset 5px 5px 12px rgba(0,0,0,.16) ;;

}
.cont{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.caluclatrice{
    background-color: #ecf0f3;
    padding: 20px;
    border-radius: 30px;
    box-shadow:inset 5px 5px 5px #ffffff,
                     5px 5px 12px rgba(0,0,0,.16)  ;
    display:grid ;
    grid-template-columns:repeat(4,70px) ;
}
input{
    grid-column:span 4;
    height: 70px;
    width: 280px;
    background-color: #d2dbe2;
    box-shadow: inset -5px -5px 12px #ffffff,
                inset 5px 5px 12px rgba(0,0,0,.16) ;
    border: none;
    border-radius: 30px;
    color: rgb(70, 70, 70);
    font-size: 32px;
    text-align:end ;
    margin: auto;
    margin:40px 0px 30px 0px ;
    padding: 20px;
}
button{
    height: 60px;
    width:60px ;
    background-color: #d2dbe2;
    box-shadow: -5px -5px  9px #ffffff,
                5px 5px 12px rgba(0,0,0,.16) ;
    border: none;
    border-radius: 50%;
    margin: 12px;
    font-size: 17px;
}
button:hover{
    background-color: #d2dbe2;
    box-shadow: inset -7px -7px 12px #ffffff,
                inset 5px 5px 12px rgba(0,0,0,.16) ;
}
.egal{
    width:122px ;
    border-radius: 40px;
    
}
